<div class="my-5">
    <h2 class="text-center">Shop Popular Categories</h2>
    <owl-carousel-o [options]="customOptions">
    @for (category of categories; track $index) {

        <ng-container>
            <ng-template carouselSlide [id]="category._id">
                <img [src]="category.image" [title]="category.name" height="200px" >
                <h5 class="text-center text-main my-3">{{category.name}}</h5>
            </ng-template>
            </ng-container>
    }
    </owl-carousel-o>
</div>